body
{
  margin: 0 auto;
  width: 100%;
  font-family: serif;
}

h1
{
  font-size: 2.3em;
  padding-left: 10%;
  padding-top: 1.5em;
  color: black;
  float: left;
}

#h2
{
  color: black;
  margin-left: -16.5%;
  padding-top: 5em;
  color: black;
  float: left;
}

.p1
{
  padding-top: 5em;
  padding-left: 35%;
  padding-right: 9em;
  padding-bottom: 6em;
  font-size: 17px;
  line-height: 1.2em;
  text-align: justify;
  color: black;
}

p {
    text-indent: 50px;
}
