body {
  background-color: white;
  font-family: Helvetica;
}

#set-height {
  display: block;
  height: 13500px;
}

.container:hover .box{
  zoom: 1;
  filter: alpha(opacity=45);
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.container .box:hover{
  box-shadow: 3px 3px 15px #666;
  cursor: pointer;

  /*Opacity*/
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
#v1 {
  position:fixed;
  top: 33%;
  left: 0;
  width:100%;
  height: auto;
}
#v2 {
  position: fixed;
  top:66%;
  left: 0;
  width: 100%;
  height: auto;
}
#v3 {
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  height:auto;
}
#v4 {
  position:fixed;
  top:33%;
  left: 0;
  width:100%;
  height:auto;
}
#v5 {
  position:fixed;
  top:66%;
  left: 0;
  width:100%;
  height:auto;
}
#v6 {
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  height:auto;
}
#v7 {
  position:fixed;
  top:33%;
  left: 0;
  width:100%;
  height:auto;
}
#v8 {
  position:fixed;
  top:66%;
  left: 0;
  width:100%;
  height:auto;
}

p {
  font-family: helvetica;
  font-size: 24px;
}

#about {
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 2;
  font-size: 1em;
}

#next {
  position: fixed;
  left: 78%;
  top: 97%;
  z-index: 2;
  font-size: 1em;
}

#previous {
  position: fixed;
  left: 4%;
  top: 97%;
  z-index: 2;
  font-size: 1em;
}

a:link{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

#overlay1 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay2 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay3 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

h1 {
  font:'Helvetica', sans-serif;
  color: white;
  margin-top: 10%;
  font-size: 2em;
  text-align: center;
}

p {
  text-align: center;
  margin-top: 4%;
  padding-left: 15%;
  padding-right: 15%;
  font:'Helvetica', sans-serif;
  color: white;
}

#time {
  position: fixed;
  display: block;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(0,0,255,0.5);
}
#scroll {
  position: fixed;
  display: block;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(255,0,0,0.5);
}
