body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

h1 {
  padding-left: 1em;
  font-size: 4em;
}

a:link {
  text-decoration: none;
  color:black;
}

a:visited {
  text-decoration: none;
  color:black;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-item1 {
  width: 10%;
}

#bodycopy1 {
}

.flex-item2 {
  width: 30%;
}

#bodycopy2 {
  font-size: 1em;
  line-height: 1em;
}
#bodycopy02 {
  font-size: 1em;
  line-height: 2em;
}

.flex-item3 {
  width: 20%;
}

#bodycopy3 {
  font-size: 1.2em;
}

.flex-item4 {
  width: 20%;
}

#bodycopy4 {
  font-size: 1.2em;
  margin-top: 20%;

}

.flex-item5 {
  width: 20%;
}

#bodycopy5 {
  font-size: 1.2em;
  margin-top: 35%;
}

.feature img {
  border:none;
  position:absolute;
  height:145px;width:96px;
	top:32%; left:56%;
    z-index:1;
}

span.titlef {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  background:none;
	height:100%;
	width:100%;
	position:absolute;
    top:17%; left:41%;
    opacity: 1;
	z-index:100;
	text-align:left;
	font-size:4em;
	color:black;
  -webkit-transition: opacity 3s ease-in;
  opacity:0
}

span.numberf {
  font-family: 'Open Sans', sans-serif;
  background:none;
	height:100%;
	width:100%;
	position:absolute;
  	top:94%; left:94%;
	z-index:100;
	text-align:left;
	font-size:3.5em;
	color:black;
  -webkit-transition: opacity 3s ease-in;
  opacity:0
}

span.biof {
  font-family: 'Open Sans', sans-serif;
  background:none;
	height:100%;
	width:15%;
	position:absolute;
  	top:17%; left:83%;
	z-index:100;
	justify-content: left;
	font-size:1em;
	color:black;
  line-height: 1.3em;
  -webkit-transition: opacity 3s ease-in;
  opacity:0
}

.feature:hover .biof {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}


.feature:hover .numberf {
	display:block;
  	top:94%; left:94%;
}
.feature:hover .titlef {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

span.title {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  background:none;
	height:100%;
	width:100%;
	position:absolute;
  top:80%;
  left:10px;
	z-index:100;
	text-align:left;
	font-size:4em;
	color:black;
  -webkit-transition: opacity 1.2s ease-in;
  opacity:0
}

span.number {
  font-family: 'Open Sans', sans-serif;
  background:none;
	height:100%;
	width:100%;
	position:absolute;
  top:80%;
  left:10px;
	z-index:100;
	text-align:left;
	font-size:3.5em;
	color:black;
}

span.bio {
  font-family: 'Open Sans', sans-serif;
  background:none;
	height:100%;
	width:15%;
	position:absolute;
  top:80%;
  left:10px;
	z-index:100;
	justify-content: left;
	font-size:1em;
	color:black;
  line-height: 1.3em;
    -webkit-transition: opacity 1.5s ease-in;
    opacity:0
}





.hang1:hover .bio {
	display:block;
  	top:15%; left:83%;
    opacity: 1;
}

.hang2:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.hang3:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.hang4:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.hang5:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.hang6:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.sill1:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.sill2:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.sill3:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.sill4:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.sill5:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.sill6:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}
.sill7:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.sill8:hover .bio {
	display:block;
  	top:15%; left:83%;
}

.sill9:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.stool1:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.stool2:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.stool3:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.stool4:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.stool5:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.stool6:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}
.stool7:hover .bio {
	display:block;
  	top:15%; left:83%;
        opacity: 1;
}

.floor1:hover .bio {
	display:block;
  	top:17%; left:83%;
        opacity: 1;
}

.floor2:hover .bio {
	display:block;
  	top:17%; left:83%;
        opacity: 1;
}

.floor3:hover .bio {
	display:block;
  	top:17%; left:83%;
        opacity: 1;
}

.floor4:hover .bio {
	display:block;
  	top:17%; left:83%;
        opacity: 1;
}

.floor5:hover .bio {
	display:block;
  	top:17%; left:83%;
        opacity: 1;
}

.floor6:hover .bio {
	display:block;
  	top:17%; left:83%;
        opacity: 1;
}
.floor7:hover .bio {
	display:block;
  	top:17%; left:83%;
        opacity: 1;
}

.floor8:hover .bio {
	display:block;
  	top:17%; left:83%;
        opacity: 1;
}

.hang1:hover .title {
	display:block;
  	top:17%; left:41%;
        opacity: 1;
}


.hang2:hover .title {
	display:block;
  	top:17%; left:41%;
        opacity: 1;
}

.hang3:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.hang4:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.hang5:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.hang6:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.sill1:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.sill2:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.sill3:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.sill4:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.sill5:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.sill6:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}
.sill7:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.sill8:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.sill9:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.stool1:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.stool2:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.stool3:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.stool4:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.stool5:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.stool6:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}
.stool7:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.floor1:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.floor2:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.floor3:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.floor4:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.floor5:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.floor6:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}
.floor7:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.floor8:hover .title {
	display:block;
  	top:17%; left:41%;
            opacity: 1;
}

.hang1:hover .number {
	display:block;
  	top:94%; left:94%;
}

.hang2:hover .number {
	display:block;
  	top:94%; left:94%;
}

.hang3:hover .number {
	display:block;
  	top:94%; left:94%;
}

.hang4:hover .number {
	display:block;
  	top:94%; left:94%;
}

.hang5:hover .number {
	display:block;
  	top:94%; left:94%;
}

.hang6:hover .number {
	display:block;
  	top:94%; left:94%;
}

.sill1:hover .number {
	display:block;
  	top:94%; left:94%;
}

.sill2:hover .number {
	display:block;
  	top:94%; left:94%;
}

.sill3:hover .number {
	display:block;
  	top:94%; left:94%;
}

.sill4:hover .number {
	display:block;
  	top:94%; left:94%;
}

.sill5:hover .number {
	display:block;
  	top:94%; left:94%;
}

.sill6:hover .number {
	display:block;
  	top:94%; left:94%;
}
.sill7:hover .number {
	display:block;
  	top:94%; left:94%;
}

.sill8:hover .number {
	display:block;
  	top:94%; left:94%;
}

.sill9:hover .number {
	display:block;
  	top:94%; left:94%;
}

.stool1:hover .number {
	display:block;
  	top:94%; left:94%;
}

.stool2:hover .number {
	display:block;
  	top:94%; left:94%;
}

.stool3:hover .number {
	display:block;
  	top:94%; left:94%;
}

.stool4:hover .number {
	display:block;
  	top:94%; left:94%;
}

.stool5:hover .number {
	display:block;
  	top:94%; left:94%;
}

.stool6:hover .number {
	display:block;
  	top:94%; left:94%;
}
.stool7:hover .number {
	display:block;
  	top:94%; left:94%;
}

.floor1:hover .number {
	display:block;
  	top:94%; left:94%;
}

.floor2:hover .number {
	display:block;
  	top:94%; left:94%;
}

.floor3:hover .number {
	display:block;
  	top:94%; left:94%;
}

.floor4:hover .number {
	display:block;
  	top:94%; left:94%;
}

.floor5:hover .number {
	display:block;
  	top:94%; left:94%;
}

.floor6:hover .number {
	display:block;
  	top:94%; left:94%;
}
.floor7:hover .number {
	display:block;
  	top:94%; left:94%;
}

.floor8:hover .number {
	display:block;
  	top:94%; left:94%;
}


.floor,.stool,.sill,.hang {
    font-family: 'Open Sans', sans-serif;
  background:white!important;
   border:none;
   padding:0!important;
   color:black;
   text-decoration:none;
   border-left: 15px;
   font-size: 1em;
   line-height: 2em;
  -webkit-transition: color .5s, font-size .5s;
}

.floor0,.stool0,.sill0,.hang0 {
    font-family: 'Open Sans', sans-serif;
  background:white!important;
   border:none;
   padding:0!important;
   color:black;
   text-decoration:none;
   border-left: 15px;
   font-size: 2.6em;
   line-height: 2em;
  -webkit-transition: color .5s, font-size .5s;
}

.floor0:hover,.stool0:hover,.sill0:hover,.hang0:hover {
    font-family: 'Open Sans', sans-serif;
    background-color: none;
    padding-left: 5px;
    font-size: 2.8em;
    color: rgb(121,164,155);
}


.floor:hover,.stool:hover,.sill:hover,.hang:hover {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    padding-left: 5px;
    font-size: 1.1em;
    color: rgb(121,164,155);
}


#floorList,#floorList a,#stoolList,#stoolList a,#sillList,#sillList a,#hangList,#hangList a{
    font-family: 'Open Sans', sans-serif;
    margin-left: .5em;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white!important;
    max-width: 160px;
    font-size: 0.9em;
    color: lightgray;
      -webkit-transition: color .5s ;
}

#floorList:hover,#floorList a:hover,#stoolList:hover,#stoolList a:hover,#sillList:hover,#sillList a:hover,#hangList:hover,#hangList a:hover{
    font-family: 'Open Sans', sans-serif;
    margin-left: .5em;
    padding-right: 5%;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color:none;
    font-size: 0.9em;
    color: rgb(121,164,155);
}

.hang:hover + .feature img{
color:transparent;
}

button:focus {outline:0;}

.hang1 img {
	border:none;
  position:absolute;
  height:145px;width:96px;
}
.hang1 span , span.number{
	position:absolute;
	visibility:hidden;
}
.hang1:hover, .hang1:hover span {
	visibility:visible;
	top:32%; left:54%;
	z-index:1;
}

.hang2 img {
	border:none;
  position:absolute;
  height:145px;width:96px;
}
.hang2 span {
	position:absolute;
	visibility:hidden;
}
.hang2:hover, .hang2:hover span {
	visibility:visible;
  	top:31%; left:52%;
	z-index:1;
}
.hang3 img {
	border:none;
  position:absolute;
  height:145px;width:96px;
}
.hang3 span {
	position:absolute;
	visibility:hidden;
}
.hang3:hover, .hang3:hover span {
	visibility:visible;
	top:28%; left:45%;
	z-index:1;
}
.hang4 img {
	border:none;
  position:absolute;
  height:145px;width:96px;
}
.hang4 span {
	position:absolute;
	visibility:hidden;
}
.hang4:hover, .hang4:hover span {
	visibility:visible;
	top:28%; left:45%;
	z-index:1;
}
.hang5 img {
	border:none;
  position:absolute;
  height:145px;width:96px;
}
.hang5 span {
	position:absolute;
	visibility:hidden;
}
.hang5:hover, .hang5:hover span {
	visibility:visible;
	top:32%; left:56%;
	z-index:1;
}
.hang6 img {
	border:none;
  position:absolute;
  height:280px;width:98px;
}
.hang6 span {
	position:absolute;
	visibility:hidden;
}
.hang6:hover, .hang6:hover span {
	visibility:visible;
	top:28%; left:43%;
	z-index:1;
}

.sill1 img {
	border:none;
	margin:3px;
	float:left;
  height:150px;width:80px;
}
.sill1 span {
	position:absolute;
	visibility:hidden;
}
.sill1:hover, .sill1:hover span{
  visibility:visible;
  top: 40.5%;
  left: 44.3%;
	z-index:1;
}

.sill2 img {
	border:none;
	margin:3px;
	float:left;
    height:130px;width:130px;
}
.sill2 span {
	position:absolute;
	visibility:hidden;
}
.sill2:hover, .sill2:hover span{
  visibility:visible;
	z-index:1;
  top: 41.5%;
  left: 51%;
}

.sill3 img {
	border:none;
	margin:3px;
	float:left;
  height:25px;width:25px;
}
.sill3 span {
	position:absolute;
	visibility:hidden;
}
.sill3:hover, .sill3:hover span{
  visibility:visible;
	top:55%; left:48%;
	z-index:1;
}

.sill4 img {
	border:none;
	margin:3px;
	float:left;
    height:50px;width:30px;
}
.sill4 span {
	position:absolute;
	visibility:hidden;
}
.sill4:hover, .sill4:hover span{
  visibility:visible;
	top:52%; left:48%;
	z-index:1;
}

.sill5 img {
	border:none;
	margin:3px;
	float:left;
    height:55px;width:60px;
}
.sill5 span {
	position:absolute;
	visibility:hidden;
}
.sill5:hover, .sill5:hover span{
  visibility:visible;
	top:51.7%; left:54%;
	z-index:1;
}

.sill6 img {
	border:none;
	margin:3px;
	float:left;
    height:40px;width:25px;
}
.sill6 span {
	position:absolute;
	visibility:hidden;
}
.sill6:hover, .sill6:hover span{
  visibility:visible;
	top:54%; left:47%;
	z-index:1;
}

.sill7 img {
	border:none;
	margin:3px;
	float:left;
    height:70px;width:45px;
}
.sill7 span {
	position:absolute;
	visibility:hidden;
}
.sill7:hover, .sill7:hover span{
  visibility:visible;
	top:50%; left:47%;
	z-index:1;
}

.sill9 img {
	border:none;
	margin:3px;
	float:left;
    height:100px;width:50px;
}
.sill9 span {
	position:absolute;
	visibility:hidden;
}
.sill9:hover, .sill9:hover span{
  visibility:visible;
  top: 46%;
  left: 51%;
	z-index:1;
}

.stool1 img {
	border:none;
	margin:3px;
	float:left;
  transform: scale(0.5, 0.5);
-ms-transform: scale(0.5, 0.5);
-webkit-transform: scale(0.5, 0.5);
}
.stool1 span {
	position:absolute;
	visibility:hidden;
}
.stool1:hover, .stool1:hover span{
  visibility:visible;
	top:47.3%; left:42.2%;
	z-index:1;
}
.stool2 img {
	border:none;
	margin:3px;
	float:left;
  transform: scale(0.5, 0.5);
-ms-transform: scale(0.5, 0.5);
-webkit-transform: scale(0.5, 0.5);
}
.stool2 span {
	position:absolute;
	visibility:hidden;
}
.stool2:hover, .stool2:hover span{
  visibility:visible;
	top:48.3%; left:36%;
	z-index:1;
}
.stool3 img {
	border:none;
	margin:3px;
	float:left;
  transform: scale(0.5, 0.5);
-ms-transform: scale(0.5, 0.5);
-webkit-transform: scale(0.5, 0.5);
}
.stool3 span {
	position:absolute;
	visibility:hidden;
}
.stool3:hover, .stool3:hover span{
  visibility:visible;
	top:45%; left:38%;
	z-index:1;
}
.stool4 img {
	border:none;
	margin:3px;
	float:left;
  transform: scale(0.5, 0.5);
-ms-transform: scale(0.5, 0.5);
-webkit-transform: scale(0.5, 0.5);
}
.stool4 span {
	position:absolute;
	visibility:hidden;
}
.stool4:hover, .stool4:hover span{
  visibility:visible;
	top:55.5%; left:42.5%;
	z-index:1;
}
.stool5 img {
	border:none;
	margin:3px;
	float:left;
  transform: scale(0.5, 0.5);
-ms-transform: scale(0.5, 0.5);
-webkit-transform: scale(0.5, 0.5);
}
.stool5 span {
	position:absolute;
	visibility:hidden;
}
.stool5:hover, .stool5:hover span{
  visibility:visible;
  top: 59.8%;
  left: 41.3%;
	z-index:1;
}
.stool6 img {
	border:none;
	margin:3px;
	float:left;
  transform: scale(0.5, 0.5);
-ms-transform: scale(0.5, 0.5);
-webkit-transform: scale(0.5, 0.5);
}
.stool6 span {
	position:absolute;
	visibility:hidden;
}
.stool6:hover, .stool6:hover span{
  visibility:visible;
	top:48%; left:40.5%;
	z-index:1;
}
.stool7 img {
	border:none;
	margin:3px;
	float:left;
  transform: scale(0.5, 0.5);
-ms-transform: scale(0.5, 0.5);
-webkit-transform: scale(0.5, 0.5);
}
.stool7 span {
	position:absolute;
	visibility:hidden;
}
.stool7:hover, .stool7:hover span{
  visibility:visible;
  top: 41.6%;
  left: 38.1%;
	z-index:1;
}

.floor1 img {
  border:none;
  position:absolute;
    height:300px;width:200px;
}
.floor1 span {
	position:absolute;
	visibility:hidden;
}
.floor1:hover, .floor1:hover span{
  visibility:visible;
	top:38%; left:56.7%;
	z-index:1;

}

.floor2 img {
  border:none;
  position:absolute;
    height:330px;width:240px;
}
.floor2 span {
	position:absolute;
	visibility:hidden;
}
.floor2:hover, .floor2:hover span{
  visibility:visible;
	top:33%; left:54%;
	z-index:1;
}

.floor3 img {
  border:none;
  position:absolute;
    height:310px;width:200px;
}
.floor3 span {
	position:absolute;
	visibility:hidden;
}
.floor3:hover, .floor3:hover span{
  visibility:visible;
	top:36%; left:55%;
	z-index:1;
}

.floor4 img {
  border:none;
  position:absolute;
    height:260px;width:90px;
}
.floor4 span {
	position:absolute;
	visibility:hidden;
}
.floor4:hover, .floor4:hover span{
  visibility:visible;
	top:43%; left:59%;
	z-index:1;
}

.floor5 img {
  border:none;
  position:absolute;
    height:270px;width:225px;
}
.floor5 span {
	position:absolute;
	visibility:hidden;
}
.floor5:hover, .floor5:hover span{
  visibility:visible;
	top:45%; left:55%;
	z-index:1;
}

.floor6 img {
  border:none;
  position:absolute;
    height:260px;width:130px;
}
.floor6 span {
	position:absolute;
	visibility:hidden;
}
.floor6:hover, .floor6:hover span{
  visibility:visible;
	top:42%; left:58.5%;
	z-index:1;
}

.floor7 img {
  border:none;
  position:absolute;
    height:215px;width:150px;
}
.floor7 span {
	position:absolute;
	visibility:hidden;
}
.floor7:hover, .floor7:hover span{
  visibility:visible;
	top:47%; left:57.5%;
	z-index:1;
}

.floor8 img {
  border:none;
  position:absolute;
    height:315px;width:240px;
}
.floor8 span {
	position:absolute;
	visibility:hidden;
}
.floor8:hover, .floor8:hover span{
  visibility:visible;
	top:35%; left:54%;
	z-index:1;
}

.corner,.upperLEFT {
    background: rgb(121,164,155);
    position: absolute;
    width: 35%;
    height: 100%;
    left: 67%;
    top: 0%;
    z-index: -2;
}

.upperLEFT1 {
  background: lightslategray;
      position: absolute;
      width: 45%;
      height: 71%;
      left: 35%;
      top: 16%;
      z-index: -1;
}

.centerLOGO {
    position: absolute;
}
.centerLOGO img {
    position: relative;
    margin:auto;
    height: 600px; width: 600px;"
}

.leafy img {
    position: absolute;
    top:15%;
    left:55%;
    height: auto; width: 400px;
}


.memphis img{
      position: absolute;
      width: 145%;
      height: auto;
      top: 0;
      left:0;
      z-index: -3;
}
