body{
	background: white;
	width: 100%;
	font-family: 'PT Sans', sans-serif;
	color: black;
	text-align: justify;
	text-justify: auto;
}

.item1{
font-size:4vw;
margin: 15px;
}

.item2{
font-size:4vw;
margin: 15px;
}

.item3{
	max-width:100%;height:auto;
}

.item4{
	max-width:100%;height:auto;
}

.item5{
font-size:4vw;
margin: 15px;
}

.item6{
font-size:4vw;
margin: 15px;
}

.item7{
font-size:4vw;
margin: 15px;
}

.item8{
	max-width:100%;height:auto;
}

.item9{
font-size:4vw;
margin: 15px;
}

.item10{
font-size:4vw;
margin: 15px;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .item1, .item2{
		font-size:4vw;
		margin: 15px;
  }
}
